@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #f5f5f5;
$keyColor: #f7ffef;
$subColor: #cccc33;
$fontColor: #4c4c4c;
$lineColor: #666633;

/* Base
------------------------------------------------------------*/
html{ 
  font-size: 62.5%; 
  background-color:$subColor;
}

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family: $baseFontFamily;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

a {
  @include link-colors($subColor, darken($subColor, 10%), lighten($subColor, 5%), darken($subColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Header
------------------------------------------------------------*/
header {
  #header_title {
  background-image: url("../images/header-photo.png");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
  }
}

/* Contents
------------------------------------------------------------*/
main{
    h2 {
    font-weight: bold;
    color: $fontColor;
    margin-bottom: 30px;
    font-size: 2.0rem;
    }
    .container {
      @include display-flex;
      justify-content: space-between;
      @include flex-direction(column);
      margin: 10px 20px 30px 20px;

    }
    article{
      margin: 10px 0px;  // 縦なので上下にマージン
      border: 1px solid $lineColor;
      background-color: $keyColor;
      h4{
        font-size: 1.5rem;
        margin: 0;
        padding: 5px;
        background-color:$subColor;
      }
      p{
        padding: 10px;
        color:$fontColor;
      }
    }
}

/* Footer
------------------------------------------------------------*/
footer {
  background-color: $subColor;
  padding: 10px 0;
  text-align: center;
  color: #FFF;
  
  h3{
      color:$fontColor;
      margin-bottom: 5px;
  }
  a{
      display:inline-block;
      font-weight: bold;
      padding: 5px;
      width: 150px;
      height: 15px;
      line-height: 1.0;
      color: $fontColor;
      background-color: #FFF;
      border:1px solid $lineColor;
      @include border-radius(10px);

  }
}

// for PC------------------------------------------------------

@media (min-width: 769px) {
  // Header
  header{
    #header_title {
      background-image: url("../images/header-photo.png");
      height: 500px;
      width: 100%;
    }
  }
  
  // Contents
  main{
    .container {
      @include flex-direction(row);
    }
    article{
      margin: 0 10px;  // 横並びなので左右にマージン
      @include flex(1);
    }
  }
  
  // Footer
  a {
    &:hover {
      background-color: #000;
      color: #FFF;
    }
  }
}
